<div class='home'>
  <h3><%= link_to 'Add Author', new_author_path %></h3>
  <h3><%= link_to 'Add Book', new_book_path%></h3>
  <h3><%= link_to 'Authors List', authors_path %></h3>
  <h3><%= link_to 'Books List', books_path  %></h3>
</div>
<%= stylesheet_link_tag "welcome" %>
